<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Question Paper</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .header{
            padding: 80px 80px 0 80px;
        }
        .box {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            flex-direction: row;
            margin-bottom: 40px;
        }
        .question {
            margin: 0 80px;
            
        }
        .keep-together {
            page-break-inside: avoid;
        }
        .option {
            width: 50%;
            height: 80%;
            margin-top: 20px;
        }
        .question-desc {
            line-height: 1.5;
        }
        span {
            text-align: center;
            padding: 10px;
        }
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .test-meta {
            display: flex;
            justify-content: space-between;
            padding: 0 80px;
        }
        .page {
            height: 1230px;
            margin-bottom: 80px;
        }
    </style>
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="logo">
                <img src="{{institute_details.logoUrl}}"></img>
            </div>
            <br/>
            <div class="test-meta">
                <div>
                    Date: {{test_details["startDate"]}}
                </div>
                <div>
                    Duration: {{test_details["duration"]}}
                </div>
                <div>Total Marks: {{test_details["totalMarks"]}}</div>
            </div>
            {{instructions}}
        </div>
    </div>
    <div class="question">
        <br/>
        {% set count = namespace(value=1) %}
        {% for each_question in questions %}
            <div class="keep-together">
                <div class="question-desc"><b>Q{{ count.value }}</b>. {{ each_question["question"] }}</div>
                <div class="box">
                    {% for each_option in each_question["options"] %}
                        <div class="option">{{ loop.index0 +1}}) <span>{{each_option}}</span></div>
                    {% endfor %}
                </div>
                <br/>
            </div>
        {% set count.value = count.value + 1 %}
        {% endfor %}
    </div>
</body>
</html>