<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Question Paper</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<style>
    body {
        font-family: 'Times New Roman', Times, serif;
    }
    .container .box {
        width:100%;
        display:table;
        page-break-inside: avoid;
    }
    .section {
        page-break-inside: avoid;
    }
    .container {
        background: url('https://storage.googleapis.com/vega-demo-cdn/getranks_trans.png');
    }
    .container .box .box-row {
        display:table-row;
    }
    .container .box .box-cell {
        display:table-cell;
        padding-left: 30px;
        margin-top:30px;
    }
    .container .box .box-cell.box1 {
        color:black;
        text-align:justify;
        width:40%;
    }
    .container .box .box-cell.box2 {
        width:40%;
    }
    .left {
        line-height: 1.4;
        font-weight:bolder;
        padding:0 20px 0 0;
        display:table-cell;
    }
    .right {
        display:table-cell;
    }
    .clear-fix {
        page-break-before: always;
    }
    img.logo {
        width:40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding:20px;
    }
    img {
        vertical-align: middle;
    }
    div.header p {
        display: inline-block;
        vertical-align: top;
    }
    .instructions {
        position: relative;
        margin-top:3%;
        width:90%;
        margin-left:4.5%;
        line-height: 1.6;
        border:2px solid black;
        border-radius: 10px;
    }
    .syllabus {
        position: relative;
        margin-left:4.5%;
    }
    .intro {
        text-align:center;
        font-size:2em;
        background-color:#fff;
        display: block;
        padding:10px;
        margin:0 auto;
        position: relative;
        margin-top:2px;
        width: 50%;
    }
    .options {
        display: flex;
        flex-flow: column wrap;
        justify-content:flex-start;
        flex-direction: row;
    }
    .options-row {
        padding:0 70px 0 0;
        line-height: 40px;;
    }
    td {
        width:33.3%;
    }
    .subject-div {
        page-break-after: always;
    }
    .section .box {
        page-break-inside: avoid;
    }
</style>
<body>
    <!-- Render institute logo -->
    <div>
        {% if institute_details['logoUrl'] %}
            <img class="logo" src="{{institute_details['logoUrl']}}">
        {% endif %}
        <h2 style="text-align: center;">{{institute_details["instituteName"]}}</h2>
        <h2 style="text-align: center;">{{test_details['testName']}}</h2>
        <h2 style="text-align: center;">{{marking_schema["name"]}}</h2>
    </div>
    <hr>
    <!-- Test meta data rendering div -->
    <div class="header">
        <table style="width:100%">
            <tr>
                <td>
                    <b>Date: {{test_details['startTime'].strftime('%Y-%b-%d')}}</b>
                </td>
                <td align="center">
                    <b>Duration: {{test_details['duration']}} minutes</b>
                </td>
                <td align="right">
                    <b>Max Marks: {{test_details['totalMarks']}}</b>
                </td>
            </tr>
        </table>
        
    </div>
    <!-- Instructions rendering div -->
    <hr>
    {% if show_instructions %}
        <div class="instructions">
            <div class="intro">Instructions</div>
            <!-- Safe rendering -->
            {{instructions|safe}}
        </div>

        <div class="clear-fix"></div>
    {% endif %}

    <!-- syllabus  section -->
    {% if test_details['syllabus'] %}
    <div class="container">
        <div class="intro">Syllabus</div>
        <div class="syllabus">
            {% for subject in test_details['syllabus']%}
                <div class="section">
                    <h2>{{subject['subject']}}</h2>
                    <!-- Topic count number -->
                    {% set count = namespace(value=1) %}
                    {% for topic in subject['topics']%}
                    <div class="box">
                        {{count.value}}. {{topic|safe}}
                    </div>
                    {% set count.value = count.value + 1 %}
                    {% endfor %}
                </div>
            {% endfor %} 
        </div>
    </div>
    <div class="clear-fix"></div>
    {% endif %}
    
    <div class="container">
        <!-- Question count number -->
        {% set count = namespace(value=0) %}
        <!-- Iterate over subject and render each subject -->
        {% for subject, subject_data in questions %}
            <div class="subject-div">
            <!-- Iterate over subject sections -->
            {% for section_markup, section_data in subject_data %}
                <!-- Safe rendering -->
                <div class="section" style="text-align: center;">
                    <h2>Subject - {{subject}}</h2>
                    {{section_markup|safe}}
                </div>
                <!-- Iterate over subject section and render questions -->
                {% for each_question in section_data %}
                {% if loop.index0%2 == 0 %}
                <div class="box">
                <div class="box-row">
                {% endif %}
                    <div class="box-cell box{{count.value%2 + 1}}">
                        <!-- Question number -->
                        <div class="left">Q{{ count.value + 1 }}.</div>
                        <!-- Question data -->
                        {% if each_question['questionType'] == 'Paragraph type' %}
                                {% for x in each_question['questionTypeMetaData']['paragraph'] %}
                                    {{x|safe}}
                                {% endfor %}
                        {% endif %}
                        <div class="right">{{ each_question["question"]|safe }}
                            <br/>
                            <!-- Render options -->
                            <div class="options">
                                {% set opt_count = namespace(value=0) %}
                                    {% if each_question['questionType'] == 'Matrix match type' %}
                                    <div class="mat-options-row" style="width:100%; padding:12px;">
                                    <div style="width:50%;float:left">
                                        {% for option in each_question['questionTypeMetaData']['matrix']['matrixQuestionList']%}
                                           <div style="margin-bottom: 16px"> {{option['label']}}) {{option['text']|safe}}</div>
                                        {% endfor %}
                                    </div>
                                    <div style="width:50%;float:left">
                                        {% for option in each_question['questionTypeMetaData']['matrix']['matrixAnswerList']%}
                                        <div style="margin-bottom: 16px"> {{option['label']}}) {{option['text']|safe}}</div>
                                        {% endfor %}
                                    </div>
                                    </div>
                                    {% else %}
                                    <div class="options-row" style="width:100%; padding:12px">
                                        {% for each_option in each_question["options"] %}
                                            <div class="opt-box-{{loop.index}}">{{ "ABCDEFGHI"[opt_count.value] }}) {{each_option|safe}}</div>
                                            {% set opt_count.value = opt_count.value + 1 %}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                            </div>
                            <!-- Render key and solution for solution download -->
                            {% if show_solutions %}
                                <br/>
                                    <b>Key:</b>
                                    {% if each_question['questionType'] == 'Matrix match type' %}
                                        {% for match in each_question["key"] %}
                                            {{ match.sub }} => {{ ", ".join(match.answer) }}
                                        {% endfor %}
                                    {% else %}
                                        {{ each_question["answer"] }}
                                    {% endif %}
                                <br/>
                                    <b>Solution:</b><br/>
                                    {{ each_question["solution"]|safe }}
                                <br />
                            {% endif %}
                        </div>
                    </div>
                {% if loop.index0%2 == 1 or loop.index == (section_data|length) %}
                </div>
                </div>
                {% endif %}
                    {% set count.value = count.value + 1 %}
                {% endfor %}
            {% endfor %}
            </div>
        {% endfor %}
    </div> 
</body>