<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Question Paper Key</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<style>
    * {
        box-sizing: border-box;
    }
    .subject {
        float: left;
        width: 25%;
        padding: 80px;
    }
    .container:after {
        content: "";
        display: table;
        clear: both;
    }
    img.logo{
        width:40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding:20px;
    }
    div.header p{
        display: inline-block;
        vertical-align: top;
    }
</style>

<body>
    <div>
        {% if institute_details['logoUrl'] %}
            <img class="logo" src="{{institute_details['logoUrl']}}">
        {% endif %}
        <h2 style="text-align: center;">{{institute_details["instituteName"]}}</h2>
        <h2 style="text-align: center;">{{test_details['testName']}}</h2>
        <h2 style="text-align: center;">{{marking_schema["name"]}}</h2>
    </div>
    <hr>
    <!-- Test meta data rendering div -->
    <div class="header">
        <table style="width:100%">
            <tr>
                <td>
                    <b>Date: {{test_details['startTime'].strftime('%Y-%b-%d')}}</b>
                </td>
                <td align="center">
                    <b>Duration: {{test_details['duration']}} minutes</b>
                </td>
                <td align="right">
                    <b>Max Marks: {{test_details['totalMarks']}}</b>
                </td>
            </tr>
        </table>
        
    </div>
    <!-- Instructions rendering div -->
    <hr>
        
    <div class="clear-fix"></div>
    
    <div class="container">
        {% set count = namespace(value=1) %}
        {% for subject, subject_data in questions %}
            <div class="subject">
                {{ subject }} <br /> <br />
                {% for _, section_data in subject_data %}
                    {% for each_question in section_data %}
                        Q{{ count.value }}) {{each_question["answer"]}} <br />
                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>